<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
   
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>

</html>



<body>
    <div class="container  shadow-md p-5 form-layout">

        <h3>Create your account</h3>
        <h5>Start managing your clients today!</h5>

        <hr>
        <br>

        <form action="" method="post" autocomplete="off">

            {% csrf_token %}
            {{form.username}}
            <br>
            {{form.password1}}
            <br>
            {{form.password2}}
            <br>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create your account &nbsp;<i
                    class="fa fa-user" aria-hidden="true"></i>
            </button>

        </form>

        <br>

        <div class="text-center">
            <p>Already have an account?</p> <a href="{% url 'my-login' %}">Login</a>
        </div>

    </div>

    <br>

</body>

</html>
