{% extends 'home/base.html' %}

{% block content %}


    <div class="delere-wrapper">
        <div class="header-bar">
            <a href="{% url 'task_list' %}">Go back <i class="bi bi-backspace"></i></a>
        </div>
        
        <div class="header-bar">
            <form method="post" action="" style="background-color: aliceblue;">
        
                {% csrf_token %}
                <P>are you sure you want to delete task {{task}}?</P>
                <input class="button" type="submit" value="delete">
        
            </form>
        
        </div>

    </div>
    



{% endblock %}